@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 184 141 89;
    --color-secondary: 251 246 240;
    /* ... */
  }
}

* {
  color: inherit;
  border-color: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

body {
  font-size: 1.1rem;
}
